.up-footer{
	background-color:$grey-dark;
	padding-top: 15px;
}
.site-footer{
	background-color: #3353B2;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    display: block;
    color:$white;
    font-weight: 100;

    a {
    	color:$white;
    }

	.socials{ 
		li {
		    display: inline-block;
		    float: left;
		    margin: 0 1px;
		    width: 50px;

			a {
			    color: $white;
			    display: block;
			    font-size: 20px;
			    line-height: 50px;
			    text-align: center;
			    text-decoration: none;
			    transition: all 0.3s ease-out 0s;
				&:hover {
				    background-color: rgba(0, 0, 0, 0.8);
				    color: $white;
				}
			}
		}
	}
}

.site-info{
	padding-top: 15px;
}

.copyright,
.secondary-nav {
	font-size: 13px
}