/* ==========================================================================
   Layout
   ========================================================================== */
$susy: (
	global-box-sizing: border-box,
	columns: 12,
	gutters: 1/2,
	math: fluid,
	output: float,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	),
	gutter-position: after,
    rem: true,
);


// on inclut les propriétés border-box
@include border-box-sizing;

.masthead,
.page-inner,
.site-content,
.site-info,
.up-footer-container{
  @include container (1280px);
}

.site-content {
    padding-top: 135px;
    padding-bottom: 5%;
}

#primary{
  @include span(8);
  
	&.full-width{
	  @include span(12);
	}
}

.logo-footer-wrapper,
.copyright {
	@include span(6);
}

.socials-footer {
	@include span(6 last); 
}

.socials,
.secondary-nav-container {
    float: right;
    line-height: 0;
    padding-top: 0;
}

.product-container{
	@include span(4); 

    &:last-of-type{
        @include span(4 last); 
    }
}

#secondary {
	@include span(4 last); 
}


/*--------------------------------------------------------------
## Header & footer
--------------------------------------------------------------*/
@import "header";
@import "footer";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";
@import "primary/blocks";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";