.site-header{
    display: block;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 2;

    &.shrink{
        background-image: linear-gradient(to right,rgba(196, 32, 3, 0.9), rgba(114, 1, 71, 0.9)); 
        //background-color: #810040;

        .masthead{
            padding: 10px 0;
        }

        .site-title a {
            background-size: 75% auto
        }
    }

    .masthead{
        padding: 40px 0 40px 0;
        position: relative;
        text-align: left;
        width: 100%;
        transition: all 0.3s ease-out 0s;
    }
}

.site-title, 
.logo-footer-wrapper {
    height: 45px;
    margin: 0;
    padding:0;

    > a {
        background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll left top;
        float: left;
        height: 45px;
        overflow: hidden;
        position: relative;
        text-indent: -9999px;
        width: 181px;
        z-index: 2;
        transition: all 0.3s ease-out 0s;
    }
}

.site-baseline {
    font-size: 12px;
    margin: 0;
    color:#fff;
    font-weight: 100;
    text-transform: uppercase;
}

.site-branding{
    display: block;
    float: left;
    height: 41px;
    margin-right: 30px;
    text-align: center;
}

.fullscreen-background{
    min-height: calc(100vh - 10px);
    background: transparent url("../img/masthead-bkg.jpg") no-repeat fixed 50% 50% / cover 
}