input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.flat-form {
  background: #e74c3c;
  color: white;
  margin: 25px auto;
  width: 390px;
  position: relative;
  font-weight:100;
  padding-bottom: 15px;
  .tabs {
    display: table;
    background: #c0392b;
    width: 100%;
    height: 40px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    list-style-type: none;
    li {
      display: block;
      margin: 0;
      padding: 0;
      float: left;
      a {
        display: block;
        background: #c0392b;
        color: white;
        text-decoration: none;
        font-size: 16px;
        float: left;
        padding: 12px 22px;
        &.active {
          background: #e74c3c;
          border-right: none;
          //@include transition( all 0.5s linear );
          transition: all 0.3s linear 0s;
        } 
        &:hover {
          background: lighten( #c0392b, 10% );
          //@include transition( all 0.5s linear );
          transition: all 0.3s linear 0s;
        }       
      }
      &:last-child a {
        text-align: center;
        width: 174px;
        padding-left: 0;
        padding-right: 0;
        border-right: none;
      }      
    }
  }
  .form-action {
    padding: 0 20px;
    position: relative;
  }

  .show {display: block;}
  .hide {display: none;}
}
form {

  input{
    &[type=text],
    &[type=password],
    &[type=submit] {
      font-family: 'Roboto';
    }
    &[type=text],
    &[type=password] {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding-left: 15px;
      background: #fff;
      border: none;
      color: #e74c3c;
      outline: none;
    } 
    $placeholder-color: #e74c3c;
    &::-webkit-input-placeholder {color: $placeholder-color;}
    &:-moz-placeholder {color: $placeholder-color;}
    &::-moz-placeholder {color: $placeholder-color;}
    &:-ms-input-placeholder {color: $placeholder-color;}      
  }
  .button {
    border: none;
    display: block;
    background: $grey-dark;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    //border-radius : 5px;
    //@include box-shadow( 0px 3px 1px #2075aa );
    transition: all 0.3s ease-out 0s;
    &:hover {
      background: #1e75aa;
      //@include box-shadow( 0 3px 1px #237bb2 );
    }
    &:active {
      background: #136899;
      //@inclue box-shadow( 0 3px 1px #0f608c );
    }
  }   
}
