/* Simple inline nav */

.secondary-nav {
	display: flex;
	flex-wrap: wrap;
	list-style: outside none none;
	margin:0;
	padding: 0;

	> *:nth-child(n+2)::before {
	    border-left: 1px solid #e5e5e5;
	    margin-right: 10px;
	}

	> *::before {
	    content: "";
	    display: inline-block;
	    height: 10px;
	    vertical-align: middle;
	}

	> * {
	    float: left;
	    flex: 0 0 auto;
	    margin-top: 10px;
	    padding-left: 10px;
	    position: relative;
	}

	a {
		text-decoration: none;
	}
}

.main-navigation {
	clear: both;
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			background-color: $grey-dark;
			float: left;
			position: absolute;
			top: 70px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			background-color: $white;
			color:$grey-dark
		}

		li {
			width:100%;
			min-width: 280px;

			a {
			    font-size: 15px !important;
			    text-align: left !important;
			}
		}
	}


	.menu-item a {
	    color: $white;
	    display: block;
	    font-size: 18px;
	    font-weight: 100;
	    line-height: 70px;
	    margin: 0;
	    padding: 0 34px;
	    position: relative;
	    text-align: center;
	    text-decoration: none;
	    text-shadow: none;
	    text-transform: uppercase;
	    transition: all 0.3s ease-out 0s;
	    z-index: 2;
	}

	> a {
		line-height: 45px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.current-menu-item > a {
		background-color: $white;
		color:$grey-dark
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


/* Responsive menu */

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.menu-expanded ul {
  transition: all .05s;
  position: relative;
  left: 0;
  z-index: 2;
}

.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding: 5px;
}

.menu-expanded a:hover {
  transition: all .15s;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}

.menu-expanded .bar:before {
  transition: all .25s;
  content: "";
  transform: rotate(45deg);
  top: -0px;
}

.menu-expanded .bar:after {
  transition: all .25s;
  content: "";
  transform: rotate(-45deg);
  top: 0px;
}