/* Simple inline nav */

.secondary-nav {
	display: flex;
	flex-wrap: wrap;
	list-style: outside none none;
	margin:0;
	padding: 0;

	> *:nth-child(n+2)::before {
	    border-left: 1px solid #e5e5e5;
	    margin-right: 10px;
	}

	> *::before {
	    content: "";
	    display: inline-block;
	    height: 10px;
	    vertical-align: middle;
	}

	> * {
	    float: left;
	    flex: 0 0 auto;
	    margin-top: 10px;
	    padding-left: 10px;
	    position: relative;
	}

	a {
		text-decoration: none;
	}
}

.shrink{
	.menu-main-menu-container{
		padding: 10px 0;
	}
}

.menu-main-menu-container{
	padding: 40px 0;
}

.main-navigation {
	clear: both;
	display: block;
    height: 90px;
    padding-left: 200px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;

    &::after{
    	content:'';
    	border-bottom: 1px solid rgba(255, 255, 255,0.5);
    	width:33%;
    	height:1px;
    	display: inline-block;
    	margin-left:-200px
    }

	ul {
		list-style: none;
	    float: right;
	    margin: 0;
	    padding: 0;
	    transition: background-color 0.3s ease-in-out 0s;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			background-color: $white;
			float: left;
			position: absolute;
			top: 20px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				&:hover > a,
				.focus > a {
					background-color: $purple-red;
					color :$white
				}

			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	.menu-item {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			color:$white;
		}

		li {
			width:100%;
			padding:15px;

			a {
			    font-size: 15px;
			    text-align: left;
			    color: $grey-dark;
			}
		}
	}


	.menu-item {
		> a {
		    color: $white;
		    display: block;
		    font-size: 18px;
		    font-weight: 100;
		    line-height: 20px;
		    margin: 0;
		    padding: 0 10px;
		    position: relative;
		    text-align: center;
		    text-decoration: none;
		    text-shadow: none;
		    text-transform: uppercase;
		    transition: all 0.3s ease-out 0s;
		    z-index: 2;
	
		    &::before {
			    content: "|";
			    margin-right: 10px;
			    transform: translateX(20px);
			}
	
			&::before, &::after {
			    display: inline-block;
			    opacity: 0;
			    transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
			}
	
			&::after {
			    content: "|";
			    margin-left: 10px;
			    transform: translateX(-20px);
			}
			&:hover, &:focus{
				&::before, &::after {
				    opacity: 1;
				    transform: translateX(0);
				}
			}
		}

	}

	> a {
		line-height: 45px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.current-menu-item > a {
		opacity:0.5;
	}
}

.shrink{
	.main-navigation {
		
	    &::after{
	    	width:50%;
	    	margin-left: 540px;
	    }

	    .menu-item a{
	    	font-size: 14px
	    }
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


/* Responsive menu */

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.menu-expanded ul {
  transition: all .05s;
  position: relative;
  left: 0;
  z-index: 2;
}

.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding: 5px;
}

.menu-expanded a:hover {
  transition: all .15s;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}

.menu-expanded .bar:before {
  transition: all .25s;
  content: "";
  transform: rotate(45deg);
  top: -0px;
}

.menu-expanded .bar:after {
  transition: all .25s;
  content: "";
  transform: rotate(-45deg);
  top: 0px;
}